.about {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;

    .title {
        &::after,
        &::before {
            display: none;
        }
    }

    &__subtitle {
        font-size: 20px;
        color: #32505a;
    }

    &__information {
        max-height: 396px;

        overflow: hidden;
        transition: .5s;
    }

    &__img {
        display: none;
    }

    &__text {
        margin: 0;
        margin-bottom: 22px;

        line-height: 22px;
        color: #4d4d4d;
    }

    &__btn {
        display: block;
        width: 290px;
        padding: 15px 0;
        margin: 0 auto;
        margin-top: 35px;

        color: $orange;

        border-color: $orange;
        background-color: white;

        &:hover {
            color: white;
            background-color: $orange;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

@media(min-width: $tablet) {

    .about {
        &__img {
            display: block;
            margin-left: 30px;
            margin-bottom: 30px;
            float: right;
        }

        &__information {
            max-height: none !important;
        }

        &__text {
            margin-bottom: 11px;
        }

        &__btn {
            display: none;
        }
    }
}