@font-face {
    font-weight: normal;
    font-family: "Lemon Tuesday";
    font-style: normal;
    src: url("../fonts/LemonTuesday.woff2") format("woff2"), url("../fonts/LemonTuesday.woff") format("woff");
  }