*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.title {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 75px;

    font-family: "Lemon Tuesday";
    font-size: 44px;
    text-align: center;
    color: #32505a;

    &::after,
    &::before {
        content: '';

        display: inline-block;
        width: 74px;
        height: 27px;

        background-image: url('../img/title-arrow.png');
        background-size: cover;

        @media (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
            background-image: url('../img/title-arrow@2x.png');
        }

        @media (min-resolution: 216dpi),
        (min-resolution: 2.2dppx) {
            background-image: url('../img/title-arrow@3x.png');
        }
    }

    &::before {
        margin-right: 20px;
        transform: scale(-1, 1);
    }

    &::after {
        margin-left: 20px;
    }
}

.btn {
    border-radius: 5px;
    border: solid 1px #1fba0a;

    letter-spacing: 0.5px;
    text-transform: uppercase;
}