.header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 15px;

    &__box-shadow {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        display: none;
        width: 100%;
        height: 100%;

        background-color: rgba($color: #000, $alpha: 0.4);
        overflow: hidden;

        animation-duration: .5s;
    }
    
    &__toggle {
        position: relative;

        display: block;
        width: 20px;
        height: 2px;
        
        border: none;
        background-color: $green;

        &::after {
            content: '';

            position: absolute;
            top: 5px;
            left: 0;

            display: block;
            width: 20px;
            height: 2px;
            
            border: none;
            background-color: $green;
        }

        &::before {
            content: '';

            position: absolute;
            top: -5px;
            left: 0;

            display: block;
            width: 20px;
            height: 2px;
            
            border: none;
            background-color: $green;
        }
    }

    &__logo {
        width: 45px;
        height: 45px;

    }

    &__logo-image {
        margin-left: 50%;
    }

    &__box {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 3;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        min-height: 300px;
        width: 100%;
        padding-top: 40px;
        padding-left: 50px;
        padding-bottom: 45px;

        background-color: white;
        transition: 1s;
    }

    &__box-close {
        position: absolute;
        top: 30px;
        right: 30px;

        display: block;
        width: 16px;
        height: 16px;

        background-color: transparent;
        border: none;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            // display: block;
            width: 21px;
            height: 1px;

            background-color: #aeaeae;
            transform: rotate(45deg);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            // display: block;
            width: 21px;
            height: 1px;

            background-color: #aeaeae;
            transform: rotate(135deg);
        }
    }

    &__call-back {
        margin-top: 30px;
        padding: 12px 18px;

        font-size: 13px;
        color: $green;
        
        background-color: white;
        outline: none;

        &:hover,
        &:focus {
            color: white;
            background-color: $green;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.account {

    &__item {
        display: inline-block;
    }

    &__span {
        display: none;
    }

    &__item--first {
        margin-right: 20px;
    }
}

.phone {

    margin-top: 50px;

    &__number {
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;

    }

    &__working-time {
        display: block;
        font-size: 10px;
    }
}

.nav {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;

    &__item {
        margin-bottom: 35px;

        text-decoration: none;
        color: inherit;
    }
}

.contacts {
    margin-top: 10px;

    font-size: 14px;
    font-weight: 500;

    &__item {
        margin-top: 20px;
        margin-left: -3px;
        
        &::before {
            content: '';

            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;

            background-image: url('../svg/maps-and-flags.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &--email::before {
            width: 12px;
            height: 16px;
            background-image: url('../svg/envelope.svg');
            background-position: bottom;
        }
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: $tablet) {

    .header {
        min-height: 87px;
        padding: 0 20px;

        &__logo {
            width: 151px;
            height: 55px;
        }

        &__logo-image {
            margin-left: 0;
        }

        &__box {
            width: 50%;
        }
    }

}

@media (min-width: $desktop) { 

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        max-width: 1160px;
        margin: 0 auto;
        padding-top: 10px;

        &__toggle {
            display: none;
        }

        &__nav {
            flex-direction: row;
        }

        &__box-close {
            display: none;
        }

        &__call-back{
            margin: 0;
        }
    }

    .contacts {
        display: flex;
        margin: 0;
        
        &__item {
            margin: 0;
        }

        &__item--address {
            margin-right: 150px;
        }
    }

    .phone {
        display: flex;
        align-items: center;
        margin: 0;

        &__wrapper {
            margin-right: 30px;
        }
    }

    .nav {

        margin-top: 20px;
        &__item {
            margin: 0;
            padding: 19px 30px;

            line-height: 14px;

            outline: none;

            &--menu::after {
                content: '';
                
                display: inline-block;
                width: 8px;
                height: 4px;
                margin-left: 5px;

                background-image: url('../img/menu-tick.png');
                background-size: cover;
                vertical-align: middle;
            }

            &:hover,
            &:focus {
                background-color: $green;
            }

            &:active {
                opacity: 0.7;
            }
        }
    }

    .account {
        display: flex;
        margin-top: 20px;

        &__item {
            display: flex;
            padding: 15px 25px;
            
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            align-items: center;
            line-height: 14px;

            outline: none;

            &:hover,
            &:focus {
                background-color: $green;

                .account__svg {
                    fill: #fff;
                }
            }

            &:active {
                opacity: 0.7;
            }

            &--first {
                margin: 0;
            }
        }

        &__svg {
            margin-right: 10px;
        }

        &__span {
            display: block;
        }
    }
}