.reasons {
    max-width: 1140px;
    margin: 0 auto;

    &__title {
        padding: 0 30px;

        &::after,
        &::before {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        max-height: 750px;

        overflow: hidden;
        transition: 0.5s;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 160px;
        width: 195px;
        margin: 40px 0;

        text-align: center;
        font-size: 16px;
        color: #4d4d4d;

        &::before {
            content: '';

            display: block;
            margin-bottom: 30px;
            width: 92px;
            height: 73px;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--kitchen::before {
            background-image: url('../img/kitchen.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/kitchen@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/kitchen@3x.png');
            }

        }

        &--rice::before {
            background-image: url('../img/rice.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/rice@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/rice@3x.png');
            }

        }

        &--pizza::before {
            background-image: url('../img/pizza.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/pizza@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/pizza@3x.png');
            }

        }

        &--dish::before {
            background-image: url('../img/dish.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/dish@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/dish@3x.png');
            }

        }

        &--octopus::before {
            background-image: url('../img/octopus.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/octopus@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/octopus@3x.png');
            }

        }

        &--like::before {
            background-image: url('../img/like.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/like@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/like@3x.png');
            }

        }

        &--leaf::before {
            background-image: url('../img/leaf.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/leaf@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/leaf@3x.png');
            }

        }

        &--money::before {
            background-image: url('../img/money.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/money@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/money@3x.png');
            }

        }

        &--knife::before {
            background-image: url('../img/knife.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/knife@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/knife@3x.png');
            }

        }

        &--fish::before {
            background-image: url('../img/fish.png');

            @media (min-resolution: 144dpi),
            (min-resolution: 1.5dppx){ 
            background-image: url('../img/fish@2x.png');
        }

            @media (min-resolution: 216dpi),
            (min-resolution: 2.2dppx) {
                background-image: url('../img/fish@3x.png');
            }

        }
    }

    &__btn {
        display: block;
        width: 290px;
        padding: 15px 0;
        margin: 0 auto;

        color: $orange;

        border-color: $orange;
        background-color: white;

        &:hover {
            color: white;
            background-color: $orange;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

@media(min-width: 480px) {

    .reasons{
        &__list { 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        } 

        &__item {
            margin-right: 20px;
            margin-left: 20px;
        }

    }
}

@media(min-width: 705px) {

    .reasons {
        &__list {
            max-height: none !important;
        }

        &__btn {
            display: none;
        }
    }
}

@media(min-width: $tablet) {

    .title {
        &::after,
        &::before {
            display: inline-block;
        }
    }
}


@media(min-width: 900px) {

    .reasons {
        &__item {
            width: 250px;
        }
    }
}