.reasons {
    max-width: 1140px;
    margin: 0 auto;

    &__title {
        padding: 0 30px;

        &::after,
        &::before {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        max-height: 750px;

        overflow: hidden;
        transition: 0.5s;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 160px;
        width: 195px;
        margin: 40px 0;

        text-align: center;
        font-size: 16px;
        color: #4d4d4d;

        &::before {
            content: '';

            display: block;
            margin-bottom: 30px;
            width: 92px;
            height: 73px;

            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--kitchen::before {
            background-image: url('../svg/kitchen.svg');
        }

        &--rice::before {
            background-image: url('../svg/rice.svg');
        }

        &--pizza::before {
            background-image: url('../svg/pizza.svg');
        }

        &--dish::before {
            background-image: url('../svg/dish.svg');
        }

        &--octopus::before {
            background-image: url('../svg/octopus.svg');
        }

        &--like::before {
            background-image: url('../svg/like.svg');
        }

        &--leaf::before {
            background-image: url('../svg/leaf.svg');
        }

        &--money::before {
            background-image: url('../svg/money.svg');
        }

        &--knife::before {
            background-size: 100%;
            background-position: 0% 10%;

            background-image: url('../svg/knife.svg');
        }

        &--fish::before {
            background-image: url('../svg/fish.svg');
        }

        &-span {
            width: 195px;
        }
    }

    &__btn {
        display: block;
        width: 290px;
        padding: 15px 0;
        margin: 0 auto;

        color: $orange;

        border-color: $orange;
        background-color: white;

        &:hover {
            color: white;
            background-color: $orange;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

@media(min-width: 480px) {

    .reasons{
        &__list { 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        } 

        &__item {
            margin-right: 20px;
            margin-left: 20px;
        }

    }
}

@media(min-width: 705px) {

    .reasons {
        &__list {
            max-height: none !important;
        }

        &__btn {
            display: none;
        }
    }
}

@media(min-width: $tablet) {

    .title {
        &::after,
        &::before {
            display: inline-block;
        }
    }
}


@media(min-width: 900px) {

    .reasons__item {
        width: 250px;

        &-span {
            width: 250px;
        }
    }
}